:root{
  --cor-contraste-principal: #000000;
  --cor-texto-h1: #0E1227;

  --cor-fundo: #F8F8F8;
  --cor-fundo-vazio: #FFFFFF;
  --cor-borda-secao: #ECEEF6;

  --cor-principal-verde: #0889A3;
  --cor-scroll-track: #C7CAD9;
  
  --cor-receita: #5932EA;
  --cor-despesa: #EA3232;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-contraste-principal);
  font-size: 14px;
  font-weight: 700;
}

h1 {
  color: var(--cor-texto-h1);
  font-size: 24px;
}

h2 {
  letter-spacing: 0.01em;
  font-size: 22.4024px;
}

#app {
  position: absolute;
  width: 1116px;
  height: 614px;
  right: 50%;
  transform: translateX(50%);
  top: 91px;
}

#sections {
  display: grid;
  grid-template-areas: "form graph" "table table";
  grid-template-columns: 458px 583px;
  column-gap: 75px;
  row-gap: 25px;
  margin-top: 25px;
}

.section {
  background-color: var(--cor-fundo-vazio);
  border: 2px solid var(--cor-borda-secao);
  border-radius: 6px;
}

#form {
  grid-area: "form";
  width: 458px;
  height: 362px;
  padding: 30px 35px 50px 35px;
}

#graph {
  grid-area: "graph";
  width: 583px;
  height: 362px;
  padding: 30px 37px 29px 30px;
}

#table {
  grid-area: "table";
  width: 1116px;
  height: 159px;
  padding: 19px 29px 31px 35px;
}

.table-text {
  font-size: 14px;
  font-weight: 600;
  color: var(--cor-contraste-principal);
}

th, td {
  font-family: 'Poppins';
  color: var(--cor-contraste-principal);
  padding: 0px;
  border: none;
}

td {
  font-weight: 600;
  height: 32px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor-principal-verde);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-scroll-track);
  border-radius: 8px;
}

/* tira as setas da barra de rolagem vertical */
::-webkit-scrollbar-button {
  display: none;
}
