:root{
  --cor-contraste-principal: #000000;
  --cor-texto-h1: #0E1227;

  --cor-fundo: #F8F8F8;
  --cor-fundo-vazio: #FFFFFF;
  --cor-borda-secao: #ECEEF6;

  --cor-principal-verde: #0889A3;
  --cor-scroll-track: #C7CAD9;
  
  --cor-receita: #5932EA;
  --cor-despesa: #EA3232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-contraste-principal);
  font-size: 14px;
  font-weight: 700;
}

h1 {
  color: var(--cor-texto-h1);
  font-size: 24px;
}

h2 {
  letter-spacing: 0.01em;
  font-size: 22.4024px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor-principal-verde);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-scroll-track);
  border-radius: 8px;
}

/* tira as setas da barra de rolagem vertical */
::-webkit-scrollbar-button {
  display: none;
}

th, td {
  font-family: 'Poppins';
  color: var(--cor-contraste-principal);
  padding: 0px;
  border: none;
}

td {
  font-weight: 600;
  height: 32px;
}
